#wrapper {
    padding-top: 15px;
    text-align: center;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url("assets/Coming-Soon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gif {
    padding-top: 15px;
}

h3 {
    padding-bottom: 30px;
}